/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
@import "//at.alicdn.com/t/font_1446717_giwlq66d28j.css"
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto+Slab&display=swap')
@import "./utils.styl"

html
  scroll-behavior smooth
  -webkit-font-smoothing antialiased
  font-family "Fira Code", monospace
  .content__default
    text-align left
    white-space pre-line
    word-break break-word
    padding .75rem
    a, p, ul
      font-size 14pt
      font-family "Fira Code", monospace
      font-weight 500
    h1, h2, h3, h4, h5, h6 
      font-family "Roboto Slab", serif
  a:not(.btn):hover
    color var(--accent-color-l10)
  .copy-code-button
    background var(--accent-color-d10)
    transition all .15s linear
    &:hover
      background var(--accent-color-l10)
    svg 
      filter: drop-shadow(1px 2px 7px grey);

.site-name
  display none !important

.navbar 
  display flex;
  align-items center;
  .site-name
    display none
  .logo
    height 45px !important

.theme-light
  .navbar
    background #353535
    a
      color #aaaaaa
    pre
      color: var(--grey3)
      background #f5f2f0 !important

div[class*='language-']
 color var(--accent-color) !important


img
  cursor pointer
  &[alt=small]  
    width 200px

.btn
  display inline-flex
  border-color transparent
  cursor pointer
  font-size 1.2rem
  color #fff
  background-color var(--accent-color)
  padding 0.8rem 1.6rem
  border-radius 4px
  transition background-color .1s ease
  box-sizing border-box
  &:hover
    background-color var(--accent-color-l10)
    text-decoration none !important
  
blockquote 
  border-left-color var(--accent-color-l10)
  color var(--accent-color-l10)

.go-to-top
  color var(--accent-color-l10)!important

@media screen and (max-width: 600px) 
  .flex-wrap
    flex-wrap wrap

html body #app
  .theme-default-content
    padding .75 !important
    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child 
      margin-top unset !important 
      padding-top unset !important 
    p
      text-align left
    .home 
      .hero img
        max-width 200px !important
      .features 
        .feature   
          flex-basis calc(50% - 5rem)
          p
            text-align left
          a
            text-decoration none

