// /**
//  * Custom palette here.
//  *
//  * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
//  */

$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
// $accentColor = #ef4c23
// $textColor = #fff
// $borderColor = #bdbdbd
// $codeBgColor = #000
// $bgColor = #263238

/* .vuepress/styles/index.styl */
$colorPicker = {
	blue: #2196f3,
	red: #f26d6d,
  	green: #00ffdc,
	orange: #fb9b5f,
  	purple: #8e44ad,
  	banana: #ffe135
}

// html,
// body,
// .navbar,
// .sidebar,
// .theme-container .navbar,
// .theme-container .sidebar
// 	background-color $bgColor
// 	color $textColor

// .theme-container .search-box input
// 	color: $codeBgColor

// .theme-container .search-box .suggestion a
// 	color: $accentColor

// .theme-container .content code
// 	background-color $codeBgColor
